<div class="container">
    <ng-container *ngIf="standings">
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Name</th>
            <th>Games</th>
            <th>W</th>
            <th>L</th>
            <th>D</th>
            <th>Goal Difference</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let values of standings">
            <tr *ngFor="let standing of values">
              <td>{{ standing?.rank }}</td>
              <td>
                <img
                  [src]="standing?.team?.logo"
                  width="50"
                  height="50"
                />
              </td>
              <td>
                <a [routerLink]="['/team', standing?.team?.id]">{{
                  standing?.team?.name
                }}</a>
              </td>
              <td>{{ standing?.all?.played }}</td>
              <td>{{ standing?.all?.win }}</td>
              <td>{{ standing?.all?.lose }}</td>
              <td>{{ standing?.all?.draw }}</td>
              <td>{{ standing?.goalsDiff }}</td>
              <td>{{ standing?.points }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </ng-container>
  </div>
  